<ion-header>
  <ion-toolbar>
    <ion-title>CadLivro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Páginas</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Idioma</ion-label>
    <ion-input type="text" autocomplete="language"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Edição</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ano de Publicação</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Preço</ion-label>
    <ion-input type="number" placeholder="Em R$"></ion-input>
  </ion-item>

  <ion-button type="submit" color="primary" size="small">Enviar</ion-button>

  <div class="botao">
    <ion-button expand="block" *ngFor="let rota of rotas" [routerLink]="rota.path" slot="start" color="dark">
    {{rota.text}}
  </ion-button>
  </div>
  
</ion-content>
