<ion-header>
  <ion-toolbar>
    <ion-title>Todas Editoras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-item lines="inset" *ngFor="let editoras of editoras">
  <ul>
    <li>{{editoras.nome}}</li>
  </ul>
</ion-item>
</ion-content>

