<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Autor</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <ion-item lines="none">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text"  [(ngModel)]="autor.nome" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="text"  [(ngModel)]="autor.telefone" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Rua</ion-label>
      <ion-input type="text"  [(ngModel)]="autor.rua" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Número</ion-label>
      <ion-input type="text"  [(ngModel)]="autor.numero" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Bairro</ion-label>
      <ion-input type="text"  [(ngModel)]="autor.bairro" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">CEP</ion-label>
      <ion-input type="text"  [(ngModel)]="autor.cep" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Cidade</ion-label>
      <ion-input type="text"  [(ngModel)]="autor.cidade" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">UF</ion-label>
      <ion-select  [(ngModel)]="autor.uf">
        <ion-select-option value="SP">São Paulo</ion-select-option>
        <ion-select-option value="PR">Paraná</ion-select-option>
        <ion-select-option value="SC">Santa Catarina</ion-select-option>
        <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Tipo</ion-label>
      <ion-input type="text" required="true" [(ngModel)]="autor.tipo"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Gênero</ion-label>
      <ion-input type="text" required="true" [(ngModel)]="autor.genero"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Idade</ion-label>
      <ion-input type="number" required="true" [(ngModel)]="autor.idade"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Nacionalidade</ion-label>
      <ion-input type="text" required="true" [(ngModel)]="autor.nacionalidade"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Data Morte</ion-label>
      <ion-input type="text" [(ngModel)]="autor.data_morte"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Biografia</ion-label>
      <ion-input type="text" required="true" [(ngModel)]="autor.biografia"></ion-input>
    </ion-item>
    <ion-button color="primary" expand="full" (click)="cadastrar()">Salvar</ion-button>
    <ion-button color="danger" expand="full">Cancelar</ion-button>
    <br>

    <div class="botao">
      <ion-button expand="block" *ngFor="let rota of rotas" [routerLink]="rota.path" slot="start" color="dark">
      {{rota.text}}
    </ion-button>
    </div>
  </ion-content>

