<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vomit de horror 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  
  <div class="botao">
    <ion-button expand="block" *ngFor="let rota of rotas" [routerLink]="rota.path" slot="start" color="dark">
    {{rota.text}}
  </ion-button>
  </div>
  <ion-img [src]="fundo_foto"></ion-img>

</ion-content>


