<ion-header>
  <ion-toolbar>
    <ion-title>Todos Autores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="inset" *ngFor="let autores of autores">
    <ul>
      <li>{{autores.nome}}</li>
    </ul>
  </ion-item>
</ion-content>
