<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Funcionario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="funcionario.nome"></ion-input>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="text" [(ngModel)]="funcionario.telefone"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Rua</ion-label>
    <ion-input type="text" [(ngModel)]="funcionario.rua"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Número</ion-label>
    <ion-input type="text" [(ngModel)]="funcionario.numero"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Bairro</ion-label>
    <ion-input type="text" [(ngModel)]="funcionario.bairro"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">CEP</ion-label>
    <ion-input type="text" [(ngModel)]="funcionario.cep"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Cidade</ion-label>
    <ion-input type="text" [(ngModel)]="funcionario.cidade"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">UF</ion-label>
    <ion-select [(ngModel)]="funcionario.uf">
      <ion-select-option value="sp">São Paulo</ion-select-option>
      <ion-select-option value="rj">Rio de Janeiro</ion-select-option>
      <ion-select-option value="mg">Minas Gerais</ion-select-option>
      <ion-select-option value="pr">Paraná</ion-select-option>
      <ion-select-option value="sc">Santa Catarina</ion-select-option>
      <ion-select-option value="rs">Rio Grande do Sul</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Tipo</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="funcionario.tipo"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Gênero</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="funcionario.genero"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Idade</ion-label>
    <ion-input type="number" required="true" [(ngModel)]="funcionario.idade"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Data admissão</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="funcionario.data_admissao"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Salario</ion-label>
    <ion-input type="number" required="true" [(ngModel)]="funcionario.salario"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Cargo</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="funcionario.cargo"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Setor</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="funcionario.setor"></ion-input>
  </ion-item>
  <ion-button color="primary" expand="full" (click)="cadastrar()">Salvar</ion-button>
  <ion-button color="danger" expand="full">Cancelar</ion-button>

  <br>

  <div class="botao">
    <ion-button expand="block" *ngFor="let rota of rotas" [routerLink]="rota.path" slot="start" color="dark">
    {{rota.text}}
  </ion-button>
  </div>
</ion-content>
