<ion-header>
  <ion-toolbar>
    <ion-title>Todos Funcionarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-item lines="inset" *ngFor="let Funcionarios of Funcionarios">
  <ul>
    <li>{{Funcionarios.username}}</li>
  </ul>
</ion-item>
</ion-content>