<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Editora</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <ion-item lines="none">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="editora.nome"></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="text" [(ngModel)]="editora.telefone"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Rua</ion-label>
      <ion-input type="text" [(ngModel)]="editora.rua"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Número</ion-label>
      <ion-input type="text" [(ngModel)]="editora.numero"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Bairro</ion-label>
      <ion-input type="text" [(ngModel)]="editora.bairro"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">CEP</ion-label>
      <ion-input type="text" [(ngModel)]="editora.cep"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Cidade</ion-label>
      <ion-input type="text" [(ngModel)]="editora.cidade"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">UF</ion-label>
      <ion-select [(ngModel)]="editora.uf">
        <ion-select-option value="sp">São Paulo</ion-select-option>
        <ion-select-option value="rj">Rio de Janeiro</ion-select-option>
        <ion-select-option value="mg">Minas Gerais</ion-select-option>
        <ion-select-option value="pr">Paraná</ion-select-option>
        <ion-select-option value="sc">Santa Catarina</ion-select-option>
        <ion-select-option value="rs">Rio Grande do Sul</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Tipo</ion-label>
      <ion-input type="text" required="true" [(ngModel)]="editora.tipo"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Gênero</ion-label>
      <ion-input type="text" required="true" [(ngModel)]="editora.genero"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Idade</ion-label>
      <ion-input type="number" required="true" [(ngModel)]="editora.idade"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Razão Social</ion-label>
      <ion-input type="text" [(ngModel)]="editora.razao_social"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">CNPJ</ion-label>
      <ion-input type="text" [(ngModel)]="editora.cnpj"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Inscrição Estadual</ion-label>
      <ion-input type="text" [(ngModel)]="editora.ie"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Avaliação</ion-label>
      <ion-input type="text" [(ngModel)]="editora.avaliacao"></ion-input>
    </ion-item>
    <ion-button color="primary" expand="full" (click)="cadastrar()">Salvar</ion-button>
    <ion-button color="danger" expand="full">Cancelar</ion-button>

    <br>

    <div class="botao">
      <ion-button expand="block" *ngFor="let rota of rotas" [routerLink]="rota.path" slot="start" color="dark">
      {{rota.text}}
    </ion-button>
    </div>
  </ion-content>
  
