<ion-header>
  <ion-toolbar>
    <ion-title>Todos usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-item lines="inset" *ngFor="let usuarios of usuarios">
  <ul>
    <li>{{usuarios.username}}</li>
  </ul>
</ion-item>
</ion-content>
